@font-face {
    font-family: 'pixeloid_monoregular';
    src: url('font/pixeloid/pixeloidmono.woff2') format('woff2'),
         url('font/pixeloid/pixeloidmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixeloid_sansregular';
    src: url('font/pixeloid/pixeloidsans.woff2') format('woff2'),
         url('font/pixeloid/pixeloidsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixeloid_sansbold';
    src: url('font/pixeloid/pixeloidsansbold.woff2') format('woff2'),
         url('font/pixeloid/pixeloidsansbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}