.bar progress {
    display: block;
    width: 80%;
    height: 20px;
}

.btn button {
    position: relative;
    size: 10px;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

body {
    display: flex;
    max-width: 1000px;
    background-color: aqua;
    justify-content: center;
    margin: auto;
    margin-top: 300px;
    font-size: 24px;
}

#startingPage {
    background-color: blueviolet;
}

#selectAnimal {
    display:flex;
    flex-direction: column
}

.container {
    content: normal;
    padding: 16px;
    background-color:purple;
}
